extends base

block content
    section(id='welcome-section')
        .hero-container
            div(id="bm-first")
            .hero-bio 
                p I'm Clint Strong, full stack developer 
                p focused on Node, React, and Next.js.
                p Army veteran as an IT specialist &lpar;25B&rpar;.
                p Prior Defense Health Agency IT lead.
                p Residing in Santa Barbara, California.
    h1(id='projects-title') Projects 
    section(id='projects')
        a.project-tile.row1.firstbox.hidden
            div Project1
        a.project-tile.row1.secondbox.hidden
            div Project2
        a.project-tile.row2.firstbox.show-animate
            div Project3