@font-face {
  font-family: "bdo";
  src: url("BDO.ttf");
}
@font-face {
  font-family: "shock";
  src: url("shockwave.regular.ttf");
}
@font-face {
  font-family: "gilroy";
  src: url("Gilroy-Bold.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: gilroy;
}
p {
  font-family: bdo !important;
}
/* lenis */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
/* lenis */

body {
  background-color: black;
  overflow-x: hidden;
}
#loading-left,
#loading-right,
#loading-bottom,
#loading-top {
  z-index: 10;
  position: fixed;
  /* background: #00FF99; */
}
#loading-left {
  height: 100%;
  width: 24.4%;
}
#loading-top {
  height: 43%;
  width: 100%;
}
#loading-bottom {
  height: 57%;
  width: 100%;
}
#loading-right {
  right: 0;
  height: 100%;
  width: 75.6%;
}
#loading-top {
  top: 0;
}
#loading-bottom {
  bottom: 0;
}
.loading-Sli,
.loading-SlideR,
.loading-SlideB,
.loading-SlideT {
  animation-name: slide-left;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.loading-SlideR {
  animation-name: slide-right;
}
.loading-SlideT {
  animation-name: slide-up;
}
.loading-SlideB {
  animation-name: slide-down;
}
.loading-finishSl,
.loading-finishSr,
.loading-finishSd,
.loading-finishSu {
  animation-name: finish-sl;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}
.loading-finishSr {
  animation-name: finish-sr;
}
.loading-finishSu {
  animation-name: finish-su;
}
.loading-finishSd {
  animation-name: finish-sd;
}
@keyframes slide-down {
  0% {
    bottom: 0;
  }
  100% {
    bottom: -360px;
  }
}
@keyframes slide-up {
  0% {
    top: 0;
  }
  100% {
    top: -230px;
  }
}
@keyframes slide-left {
  0% {
    left: 0;
  }
  100% {
    left: -170px;
  }
}
@keyframes slide-right {
  0% {
    right: 0;
  }
  100% {
    right: -580px;
  }
}
@keyframes finish-sd {
  from {
    bottom: -360px;
  }
  to {
    bottom: -1000px;
  }
}
@keyframes finish-su {
  from {
    top: -230px;
  }
  to {
    top: -1000px;
  }
}
@keyframes finish-sl {
  from {
    left: -170px;
  }
  to {
    left: -2000px;
  }
}
@keyframes finish-sr {
  from {
    right: -580px;
  }
  to {
    right: -4850px;
  }
}

#navbar {
  position: sticky;
  top: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px;
  z-index: 2;
  transform: scale(100%) translateY(-150px);
  transition-property: transform, opacity;
}

#navbar a:hover {
  cursor: pointer;
}

#navbar a {
  position: relative;
  width: 100px;
  height: 45px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  overflow: hidden !important;
  color: black !important;
  background-color: white;
  border-radius: 90px;
  font-family: "bdo";
}
.project-btn {
  background-color: #00ff99 !important;
}
.contact-btn::before {
  content: "contact";
  position: absolute;
  top: -32px;
  left: 12px;
}
.contact-btn::after {
  content: "contact";
  position: absolute;
  top: 6px;
  left: 12px;
}
.project-btn::before {
  content: "projects";
  position: absolute;
  top: -32px;
  left: 11px;
}
.project-btn::after {
  content: "projects";
  position: absolute;
  top: 6px;
  left: 11px;
}

#navbar a:hover::before {
  transform: translateY(38px);
  transition: all 0.2s;
}
#navbar a:hover::after {
  transform: translateY(38px);
  transition: all 0.2s;
}

#bm-first {
  width: 60% !important;
  height: auto;
  margin-left: -20px;
}
.hide-nav {
  opacity: 0%;
  transition: 0.5s ease-in-out;
}
.show-nav {
  opacity: 100%;
  transition: 1s ease-in-out;
}
.nav-glide {
  animation-name: glider;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
@keyframes glider {
  from {
    transform: translateY(-150px);
  }
  to {
    transform: translateY(0px);
  }
}
main {
  width: 90%;
  margin: 0 auto;
}
.container {
  display: inline-block;
  cursor: pointer;
}

.hero-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.hero-bio {
  min-width: 36vw;
  font-size: 20px;
  padding: 10px 0px;
}
.opacity {
  border-right: solid white 0.2vw !important;
}
ul {
  list-style: none;
}
@keyframes backspace {
  from {
    width: 10vw;
  }
  to {
    width: 0%;
  }
}
@keyframes disappear {
  from {
    display: default;
  }
  to {
    display: none;
  }
}
@keyframes slide {
  0% {
    left: -110vw;
  }
  80% {
    left: 10px;
  }
  100% {
    left: 0px;
  }
}
#projects {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.project-tile {
  border-radius: 30px;
  overflow: hidden;
  background-color: rgb(20, 20, 20);
  width: 100%;
  height: 40vh;
  text-decoration: none;
  padding: 5px 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
}
.site-link {
  font-size: x-large;
  text-decoration: none;
  position: absolute;
  bottom: 50px;
  right: 50px;
  background-color: #00ff99;
  color: black !important;
  border-radius: 90px;
  padding: 10px;
}
.project-tile:hover {
  border-radius: 200px;
  transition-property: all;
  transition-duration: 0.5s;
}
.project-number {
  font-size: 200px;
}
.project-split {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-items: center;
  justify-content: center;
}
.video {
  margin-left: -150px;
}

.site-link:hover .arrow {
  display: inline-block;
  transform: rotate(-45deg);
  transition: all;
  transition-duration: 0.2s;
}

.arrow {
  color: black !important;
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}

@keyframes opac {
  from {
    opacity: 100%;
  }
  to {
    opacity: 75%;
  }
}
#projects-title {
  font-family: Gilroy;
  font-size: 25px;
  margin-left: 10px;
  margin-bottom: 20px;
}
#contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 10vh;
  margin-bottom: 25vh;
  overflow: hidden;
}
.links {
  display: flex;
  flex-direction: column;
}
#contact p {
  font-size: 35px;
}
#contact p span {
  font-family: gilroy;
  font-size: 80px;
}
.contact-links {
  font-size: 35px;
  padding: 10px 20px;
  border-top: solid white;
  border-right: solid white;
  border-left: solid white;
  overflow: hidden;
  text-decoration: none;
  min-width: 400px;
}
.contact-links.lastone {
  border-bottom: solid white;
}
.contact-links span {
  position: relative;
}
.contact-links::before {
  top: 0;
  left: 0;
  content: "";
  width: var(--widthy);
  height: 0%;
  width: 100%;
  background-color: #00ff99;
  position: absolute;
  transition-property: height;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
.contact-links:hover::before {
  height: 100%;
}

.contact-links:hover span {
  color: black;
  transition-property: color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

@media only screen and (max-width: 1000px) {
  .contact-links {
    min-width: 100px;
    padding: 10px 5px;
    font-size: 20px;
    border-width: 2px;
  }

  .contact-links.lastone {
    border-width: 2px;
  }

  #contact p {
    font-size: 15px;
  }

  #contact p span {
    font-size: 50px;
  }

  .hero-bio {
    font-size: 15px;
  }

  .hide-me {
    display: none;
  }

  .hero-container {
    flex-direction: column;
  }

  #bm-first {
    width: 80% !important;
    height: auto;
    margin-left: -20px;
  }
  .project-tile:hover {
    border-radius: 40px;
    transition-property: all;
    transition-duration: 0.5s;
  }
}
.button {
  transition: transform 0.1s ease-out;
  margin-bottom: 200px;
}

::-webkit-scrollbar-track {
  width: 10px;
  background-color: black;
  color: black;
}
::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 10px;
  background-color: black;
  color: black;
}
